body{
    background-color: aliceblue;
    margin:0;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

}



.nav{
    display:flex;
    background-color: #ffffff;
    border-bottom: thick solid #000000;



}

.nav a{
    font-family: "Times New Roman", serif;
    font-size: xxx-large;
    color: #ff0000;
    margin-left: 100px;
    border: none;
    background-color: #ffffff;
    text-decoration: none;
}

.navbtn{
    margin-left: 800px;
    padding-top: 30px;

}

.nav h1{
    font-size: xxx-large;
    font-family: "Times New Roman", serif;
    padding-left: 80px;
}

.content{
    margin:auto;
    text-align: center;
}

.content button{
    font-family: Fantasy, serif;
    font-size: xxx-large;
    margin-top: 80px;
    background-color: aliceblue;
    color: black;
    padding: 16px 32px;
    text-align: center;
    transition: 0.3s;
    cursor:pointer;
    border-radius: 20px;
    outline-color: black;


}

.content button:hover{
    background-color: #000000;
    color: white;
}

.content h1{
    font-size: xxx-large;
    margin-top: 200px;
}
